.logoCard, .book{
    width: 1.2vw;
}

.star{
    width: 0.9vw;
}

#ratio{
    font-weight: 600;
    color: #FFAA46;
    vertical-align: middle;
}

.ratioNum{
    vertical-align: middle;
}

.book{
    opacity: 30%;
}